<a href="https://colab.research.google.com/github/NickolasFerraz1/python/blob/main/Aula_3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crie uma lista com 3 números e multiplique-os por 2

In [ ]:
lista = [1,2,3]

In [ ]:
multiplicados = [x *2 for x in lista]

In [ ]:
print(multiplicados)

[2, 4, 6]

In [3]:
lista = ["aaaa", "eu", "sou", "antonio"]

In [4]:
mais_de_tres = [x for x in lista if len(x) > 3]
print (mais_de_tres)

['aaaa', 'antonio']

In [ ]:
numeros = [1,2,3,4,5]

In [ ]:
decrescente = sorted(numeros, reverse=True)

In [ ]:
print(decrescente)

[5, 4, 3, 2, 1]

In [ ]:
contador_pares = 0

In [ ]:
for numero in numeros:
  if numero % 2 == 0:
    contador_pares += 1

In [ ]:
print("A quantidade de pares é",  contador_pares)

A quantidade de pares é 2

In [ ]:
numeros = [5,2,3]

In [ ]:
multiplicação = 1

In [ ]:
multiplicação * numeros[0] * numeros[1] * numeros[2]

30

In [ ]:
for numero in numeros:
  multiplicação *= numero

In [ ]:
print(multiplicação)

30

In [ ]:
for i in range(1,51):
  print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
numeros = list(range(2,11))
inicial = 0

In [ ]:
soma = sum(numeros)
contador = 0

In [ ]:
print (soma)

55

In [ ]:
for pares in numeros:
  if pares % 2 == 0:
    contador += 1

In [ ]:
print (contador)

5

In [ ]:
numeros = list(range(1,6))

In [ ]:
multiplicação = 1

In [ ]:
for numero in numeros:
  multiplicação *= numero

In [ ]:
print (multiplicação)

120

In [ ]:
contador = 10
while contador > 0:
  print(contador)
  contador -= 1

print("Fogo!")

10
9
8
7
6
5
4
3
2
1
Fogo!

In [ ]:
print("oi")

oi

In [ ]:
numero = None
while numero is None or numero % 2 != 0:
 numero = int(input("Digite um número par: "))
 if numero % 2 != 0:
  print("O número não é par. Tente de novo: ")


print("O numero digitado é par: ", numero)

Digite um número par: 3
O número não é par. Tente de novo:
Digite um número par: 5
O número não é par. Tente de novo:
Digite um número par: 1
O número não é par. Tente de novo:
Digite um número par: 2
O numero digitado é par:  2

In [ ]:
# Inicialize uma variável para armazenar a entrada do usuário
numero = None

# Use um loop while para solicitar a entrada até que um número par seja fornecido
while numero is None or numero % 2 != 0:
    try:
        # Solicite a entrada do usuário e converta para um número inteiro
        numero = int(input("Digite um número par: "))

        # Verifique se o número fornecido é par
        if numero % 2 != 0:
            print("O número fornecido não é par. Tente novamente.")
    except ValueError:
        print("Por favor, digite um número válido.")

# O loop terminará quando um número par for fornecido
print("Você digitou um número par:", numero)

Digite um número par: 1
O número fornecido não é par. Tente novamente.
Digite um número par:
Por favor, digite um número válido.
Digite um número par: 2
Você digitou um número par: 2

In [8]:
import random

In [12]:
print("oi")

oi

In [11]:
import random

def jogo_advinhacao():
    numero_secreto = random.randint(1, 10)
    tentativas = 0
    limite_tentativas = 3

    print("Bem-vindo ao jogo de adivinhação!")
    print("Tente adivinhar um número de 1 a 10.")

    while tentativas < limite_tentativas:
        try:
            palpite = int(input("Digite um número de 1 a 10: "))
            tentativas += 1
            if palpite > 10:
              print("Número maior que 10. Digite um número de 1 a 10: ")

            if palpite == numero_secreto:
                print(f"Parabéns! Você acertou em {tentativas} tentativas.")
                break
            elif palpite < numero_secreto:
                print("Tente um número maior.")
            else:
                print("Tente um número menor.")
        except ValueError:
            print("Digite um número válido.")

        if tentativas == limite_tentativas:
          print("Você atingiu o número de tentativas. O número era: ", numero_secreto)

# Chama a função para iniciar o jogo
jogo_advinhacao()

Bem-vindo ao jogo de adivinhação!
Tente adivinhar um número de 1 a 10.
Digite um número de 1 a 10: 5
Tente um número maior.
Digite um número de 1 a 10: 8
Tente um número maior.
Digite um número de 1 a 10: 9
Parabéns! Você acertou em 3 tentativas.

In [ ]:
import random

def jogo_advinhacao():
    numero_secreto = random.randint(1, 10)
    tentativas = 0
    limite_tentativas = 3  # Defina o limite desejado

    print("Bem-vindo ao jogo de adivinhação!")
    print("Tente adivinhar um número de 1 a 10.")

    while tentativas < limite_tentativas:
        try:
            palpite = int(input("Digite um número de 1 a 10: "))

            # Verifica se o palpite está dentro do intervalo permitido
            if 1 <= palpite <= 10:
                tentativas += 1

                if palpite == numero_secreto:
                    print(f"Parabéns! Você acertou em {tentativas} tentativas.")
                    break
                elif palpite < numero_secreto:
                    print("Tente um número maior.")
                else:
                    print("Tente um número menor.")
            else:
                print("Digite um número dentro do intervalo permitido (1 a 10).")
        except ValueError:
            print("Digite um número válido.")

    # Fora do loop, verifica se as tentativas foram esgotadas sem acerto
    if tentativas == limite_tentativas:
        print(f"Você atingiu o limite de {limite_tentativas} tentativas. O número secreto era {numero_secreto}.")

# Chama a função para iniciar o jogo
jogo_advinhacao()

Bem-vindo ao jogo de adivinhação!
Tente adivinhar um número de 1 a 10.
Digite um número de 1 a 10: 7
Tente um número maior.
Digite um número de 1 a 10: 9
Tente um número menor.
Digite um número de 1 a 10: 8
Parabéns! Você acertou em 3 tentativas.
Você atingiu o limite de 3 tentativas. O número secreto era 8.

In [ ]:
numeros_fornecidos = []

Digite um número: []

ValueError: invalid literal for int() with base 10: '[]'

In [ ]:
numeros_fornecidos = []
while True:
  try:
    numero = int(input("Digite um número: "))
    if numero < 0:
      break
    numeros_fornecidos.append(numero)
    total = sum(numeros_fornecidos)
    print(f"Soma dos numéros é:  {total}")
  except ValueError:
    print("Digite um número válido. ")

print("Fim do programa.")

Digite um número: 1
Soma dos numéros é:  1
Digite um número: 2
Soma dos numéros é:  3
Digite um número: 3
Soma dos numéros é:  6
Digite um número: 4
Soma dos numéros é:  10
Digite um número: 5
Soma dos numéros é:  15
Digite um número: 6
Soma dos numéros é:  21
Digite um número: -1
Fim do programa.

In [ ]:
numeros_fornecidos = []
while True:
    try:
        numero = int(input("Digite um número (digite um número negativo para encerrar): "))
        if numero < 0:
            break
        numeros_fornecidos.append(numero)
        total = sum(numeros_fornecidos)
        print(f"Soma dos números fornecidos: {total}")
    except ValueError:
        print("Digite um número válido.")

print("Fim do programa.")

Digite um número (digite um número negativo para encerrar): 1
Soma dos números fornecidos: 1
Digite um número (digite um número negativo para encerrar): 2
Soma dos números fornecidos: 3
Digite um número (digite um número negativo para encerrar): 3
Soma dos números fornecidos: 6
Digite um número (digite um número negativo para encerrar): 4
Soma dos números fornecidos: 10
Digite um número (digite um número negativo para encerrar): -1
Fim do programa.

In [ ]:
numero = 4

quantidade_de_multiplos = 100

for i in range(1, quantidade_de_multiplos + 1):

  multiplo = numero * i

  print(f"{numero} x {i} = {multiplo} ")

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80
4 x 21 = 84
4 x 22 = 88
4 x 23 = 92
4 x 24 = 96
4 x 25 = 100
4 x 26 = 104
4 x 27 = 108
4 x 28 = 112
4 x 29 = 116
4 x 30 = 120
4 x 31 = 124
4 x 32 = 128
4 x 33 = 132
4 x 34 = 136
4 x 35 = 140
4 x 36 = 144
4 x 37 = 148
4 x 38 = 152
4 x 39 = 156
4 x 40 = 160
4 x 41 = 164
4 x 42 = 168
4 x 43 = 172
4 x 44 = 176
4 x 45 = 180
4 x 46 = 184
4 x 47 = 188
4 x 48 = 192
4 x 49 = 196
4 x 50 = 200
4 x 51 = 204
4 x 52 = 208
4 x 53 = 212
4 x 54 = 216
4 x 55 = 220
4 x 56 = 224
4 x 57 = 228
4 x 58 = 232
4 x 59 = 236
4 x 60 = 240
4 x 61 = 244
4 x 62 = 248
4 x 63 = 252
4 x 64 = 256
4 x 65 = 260
4 x 66 = 264
4 x 67 = 268
4 x 68 = 272
4 x 69 = 276
4 x 70 = 280
4 x 71 = 284
4 x 72 = 288
4 x 73 = 292
4 x 74 = 296
4 x 75 = 300
4 x 76 = 304
4 x 77 = 308
4 x 78 = 312
4 x 79 = 316
4 x 80 = 320
4 x 81 = 324
4 x 82 = 328
4 x 83 = 332
4 x 84 = 336
4 x 85 = 340
4 x 86 = 344
4 x 87 = 348
4 x 88 = 352
4 x 89 = 356
4 x 90 = 360
4 x 91 = 364
4 x 92 = 368
4 x 93 = 372
4 x 94 = 376
4 x 95 = 380
4 x 96 = 384
4 x 97 = 388
4 x 98 = 392
4 x 99 = 396
4 x 100 = 400

In [ ]:
# Defina o número para o qual você quer encontrar os múltiplos
numero = 3

# Defina quantos múltiplos você deseja exibir
quantidade_multiplos = 10

# Use um loop for para encontrar e exibir os múltiplos
for i in range(1, quantidade_multiplos + 1):
    # Calcule o múltiplo
    multiplo = numero * i

    # Exiba o múltiplo
    print(f"{numero} x {i} = {multiplo}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30